.layout{
    margin-top: 40px;
    
     display: flex;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     padding: 4% 12%;
     
     

 }

 .layout .productPreview{
     width: 50%;
     position: relative;
     z-index: -1;
 }


 .productDesc{
     width: 50%;
 }

